/*元素选择器*/

/*类选择器*/
.topic_class {
  color:#3F2B32;
  font-family:Permanent Marker;
  font-size:100px;
}
h2 {
  color:#BABFAB;
  font-size:25px;
  font-family:Permanent Marker;
}
p {
  font-size:20px;
  font-family:Cuprum;

}
body {
  background-color:#281E1F;
}
/*字体范例*/
.cuprum {
  font-family: 'Cuprum', sans-serif;
}
.permanent{
  font-family: 'Permanent Marker', cursive;
}
.alegreya {
  font-family: 'Alegreya', serif;
}
.shrikhand {
  font-family: 'Shrikhand', cursive;
}
.bangers {
  font-family: 'Bangers', cursive;
}
.pic_1{
  border-color: #BABFAB;
  border-width:5px;
  border-style:solid;
}
.rumine_p{
  color: #BABFAB;
}
#part_1{
  background-color:#433534;
  padding-top:100px;
  padding-left:100px;
  padding-bottom:100px;
  margin: 20px;
}
.other_p {
    color:#3F2B32;
}

.about_part{
  color: #BABFAB;
}

.post-preview a{
  color:#BABFAB;
  font-family:Cuprum;
}

.post-time {
  color:#BABFAB;
  font-family:Cuprum;
}

